body {
	margin: 0 auto;
	padding: 0;
	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.accomodation-type legend {
	margin-left: 87px;
}

.about-button {
	display: block;
	width: 110px;
	text-align: center;
	margin-top: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.container {
	position: relative;
	width: 1200px;
	margin: 0 auto;
	-webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
			box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
	background-color: #ffffff;
}

.date-row-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 30px;
}

.date-wrapper {
	position: relative;
}

.features {
	margin: 0;
	text-align: center;
}

.features p {
	font-weight: 400;
	color: #333333;
}

.features-item-big {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	min-height: 256px;
}

.features-item-description {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 49px 60px 59px;
	width: 400px;
	background-color: #81b3d2;
}

.features-item-description h3 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	color: #ffffff;
	margin: 0;
	width: 150px;
	margin-right: auto;
	margin-left: auto;
}

.features-item-description p {
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	margin: 0;
	margin-top: 21px;
}

.features-item-img {
	width: 800px;
}

.features-item-img img {
	display: block;
}
.features-item-number {

}

.features-item-small {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 48px 71px 60px;
	width: 400px;
	background-color: #eeeeee;

	line-height: 21px;
}

.features-item-small h3 {
	width: 150px;
	font-size: 21px;
	
	font-weight: 700;
	margin: 0;
	margin-left: auto;
	margin-right: auto;
}

.features-item-small p {
	margin: 0;
	margin-top: 22px;
}

.features-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	list-style: none;
	padding-left: 0;
	margin: 0;
	margin-top: 50px;
}

.features-secondary-list {
	padding: 0;
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.filter {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #6c6060;
	background-image: url("../img/filter_background.jpg");
	background-position: 0 -295px;
}

.filter fieldset {
	border: none;
	width: 240px;
	padding: 0;
	margin: 0;
	margin-top: 28px;
}

.filter legend {
	font-size: 16px;
	line-height: 21px;
	color: #ffffff;
	margin-bottom: 24px;
}

.filter li {
	margin-bottom: 25px;
}

.filter li:last-child {
	margin-bottom: 32px;
}

.filter ul {
	list-style: none;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: #ffffff;
	padding: 0;
	margin: 0;
}

.filter .accomodation-type ul {
	margin-left: 127px;
}

.filter-button {
	display: block;
	margin: 0;
	margin-left: 83px;
	padding: 5px 34px;
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	color: #ffffff;

	background: transparent;
	border: 2px solid #ffffff;
	border-radius: 2px;
	cursor: pointer;
}

.filter-button:hover {
	background-color: #ffffff;
	color: #000000;
}

.filter-button-min,
.filter-button-max {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	-webkit-box-sizing: content-box;
			box-sizing: content-box;
	padding: 0;

	background-color: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	cursor: pointer;
	-webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
			box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2)
}

.filter-button-min:active,
.filter-button-max:active {
	border: 9px solid #ffffff;
}

.filter-button-min {
	left: 0;
}

.filter-button-max {
	left: 80%;
}

.filter-range {
	position: relative;
	margin-bottom: 32px;
}

.filter-range-bar {
	width: 80%;
	height: 2px;

	background-color: #ffffff;
}

.filter-range-scale {
	height: 2px;
	background-color: rgba(255, 255, 255, 0.3);
}

.filter-title {
	margin-top: 28px;
	margin-bottom: 9px;

	font-weight: 600;
	font-size: 16px;
	line-height: 21px;
}

.five-features {
	line-height: 26px;
	margin: 0;
	margin-top: 26px;
}

.footer-copyright {
	font-weight: 400;
	line-height: 26px;

	width: 400px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.footer-copyright a {
	display: block;
	margin-left: 8px;
}

.footer-logo svg {
	fill: #231f20;
}

.footer-logo:hover svg {
	fill: #81b3d2;
}

.footer-logo:active svg {
	fill: #bdbbbc;
}

.footer-opacity {
	position: absolute;
	left: 0;
	bottom: 0;
}

.footer-social {
	width: 400px;
	text-align: center;
}

.footer-social ul {
	list-style: none;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
	width: 150px;
	margin: 0 auto;
	padding: 0;
	padding-top: 36px;
	padding-bottom: 36px;
}

.hashtag {
	width: 400px;
	text-align: center;
	line-height: 26px;
}

.hashtag a {
	color: #000000;
	font-size: 21px;
}

.hotels-catalog ul {
	list-style: none;
	padding: 0;
	background-color: #ffffff;
	margin: 0;
}

.hotel-facilities label,
.accomodation-type label {
	display: block;
	position: relative;

	cursor: pointer;
	-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
			user-select: none;
}

.hotel-facilities input + label::before,
.accomodation-type input + label::before {
	content: "";
	position: absolute;

	width: 23px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-off.svg");
}

.hotel-facilities input:checked + label::before,
.accomodation-type input:checked + label::before {
	content: "";
	position: absolute;

	width: 27px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-on.svg");
}

.hotel-facilities input:disabled + label::before,
.accomodation-type input:disabled + label::before {
	content: "";
	position: absolute;

	width: 23px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-off-dis.svg");
}

.hotel-facilities input:checked:disable + label::before,
.accomodation-type input:checked:disable + label::before {
	content: "";
	position: absolute;

	width: 27px;
	height: 23px;
	top: 0;
	left: -40px;
	background-image: url("../img/checkbox-on-dis.svg");
}

.hotel-facilities input:focus + label::before,
.accomodation-type input:focus + label::before {
	outline: 1px solid #81b3d2;
	outline-offset: 2px;
}

.hotel-facilities legend {
	margin-left: 72px;
}

.hotel-facilities ul {
	margin-left: 112px;
}

.hotels-list li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 72px;
}

.hotels-list-item .hotels-list-picture {
	margin: 0;
	width: 134px;
}

.hotels-list-item .hotel-info {
	margin-left: 30px;
	margin-right: 30px;
	width: 750px;
}

.hotels-list-item .hotel-rank {
	margin: 0;
	margin-left: auto;
	width: 110px;
}

.hotels-list-picture a {
	display: block;
	height: 90px;
}

.hotel-info h3 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	margin-top: -5px;
}

.hotel-info a {
	color: #000000;
}

.hotel-type,
.hotel-price {
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	line-height: 21px;
	margin: 0;
	margin-top: 6px;
}

.hotel-type a {
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.hotel-type .about-button:hover {
	color: #ffffff;
}

.hotel-type .about-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496BD;
}

.hotels-top {
	display: block;
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
	padding: 6px 15px;
	margin-top: 40px;
}

.hotel-price a {
	background-color: #766357;
	color: #ffffff;
	font-weight: 700;
}

.hotel-price .reservation-button:hover {
	background-color: #604e43;
	color: #ffffff;
}

.hotel-price .reservation-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.hotels-search {
	text-align: center;
	width: 568px;
	margin: 0 auto;
	position: relative;
}

.hotels-search-button {
	width: 458px;
	background-color: #81b3d2;
	margin-bottom: 0;
	margin-top: 24px;
	padding: 0;
	padding-top: 16px;
	padding-bottom: 16px;
	border: none;

	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
}

.hotels-search-button:hover {
	background-color: #669ec0;
}

.hotels-search-button:active {
	color: rgba(255, 255, 255, 0.3);
	background-color: #5496bd;
}

.hotels-search-form {
	position: absolute;
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	width: 568px;
	height: 395px;
	padding: 55px;
	background-color: #ffffff;
	line-height: 26px;
	-webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
			box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.hotels-search-form-error {
	-webkit-animation: shake 0.6s;
			animation: shake 0.6s;
}

.hotels-search-form-show {
	display: block;
	-webkit-animation: showForm 0.75s forwards;
	        animation: showForm 0.75s forwards;
}

.hotels-search-form-close {
	display: none;
}

.hotels-search-form .calendar {
	position: absolute;
	z-index: 0;
	top: 8px;
	right: 10px;
	background-color: transparent;
	border: none;
	padding: 0;
	cursor: pointer;
	fill: #a9a9a9;
}

.calendar:hover svg {
	fill: #000000;
}

.calendar:active svg {
	fill: #81b3d2;
}

.hotels-search-form input {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	width: 348px;
	min-height: 34px;
	border: 2px solid transparent;
	padding-bottom: 4px;
	padding-top: 4px;
	padding-left: 13px;
	padding-right: 40px;
	
	margin-left: 15px;
}

.hotels-search-form input:hover {
	background-color: #ebebeb;
	color: #000000;
}

.hotels-search-form input:focus {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #e5e5e5;

}

.hotels-search-form label {
	position: relative;
	display: block;
}

.hotels-sorting {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	background-color: #ffffff;
	border-bottom: 1px solid #e5e5e5;
}

.hotels-sorting h3 {
	margin-left: 48px;
	margin-top: 35px;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.hotel-stars {
	display: block;
	background-image: url("../img/star-symbol.svg");
	background-repeat: space no-repeat;
	color: transparent;
	height: 17px;
	margin: 0;
	margin-left: auto;
}

.two-stars {
	width: 40px;
}

.three-stars {
	width: 60px;
}

.four-stars {
	width: 89px;
}

.qty input {
	width: 38px;
}

.hotels-search-form-button {
	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	width: 568px;
	height: 86px;
}

.hotels-search-form-button:hover {
	background-color: #604e43;
}

.hotels-search-form-button:active {
	background-color: #503e33;
	color: rgba(255, 255, 255, 0.3);
}

.introduce-text {
	font-size: 21px;
	line-height: 26px;
	width: 440px;
	margin: 0 auto;
	text-align: center;
	padding-top: 61px;
}

.main-footer {
	background-color: #ffffff;
	opacity: 0.9;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.main-map {
	width: 1200px;
	height: 594px;
	background-image: url("../img/map-sedona.jpg");
}

.main-menu {
	color: #000000;
	background-color: #ffffff;
	position: relative;
}

.main-menu-logo {
	position: absolute;
	left: 50%;
	margin-left: -69px;
}

.main-picture {
	margin: 0;
	background-color: #283c45;
	background-image: url("../img/picture-mask.png"), url("../img/main-photo.jpg");
	background-repeat: no-repeat;
	background-position: 0 451px, 0 -56px;
	padding-top: 76px;
	min-height: 433px;
	text-align: center;
}

.people-qty {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	margin-bottom: 30px;
	-webkit-box-pack: justify;
		-ms-flex-pack: justify;
			justify-content: space-between;
}

.people-qty button {
	border: none;
	background-color: #f2f2f2;
	width: 38px;
	height: 38px;

	font-size: 24px;
	cursor: pointer;
}

.people-qty .button-minus {
	margin-left: 40px;
}

.people-qty input {
	margin-left: 0;
	margin-bottom: 0;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
}

.people-qty label {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
}

.presearch-text {
	font-weight: 400;
	color: #333333;
	margin: 0;
	padding-top: 23px;
	padding-bottom: 47px;
}

.presearch-text-question {
	font-size: 30px;
	line-height: 36px;
	margin: 0;
	padding-top: 50px;
}

.price-controls {
	position: relative;
	height: 32px;
	margin-bottom: 20px;
	font-size: 0;

	border: 2px solid #ffffff;
	border-radius: 2px;
}

.price-controls::after {
	content: "";
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
		-ms-transform: translate(-50%, -50%);
			transform: translate(-50%, -50%);

	width: 2px;
	height: 22px;
	background-color: #ffffff;
}

.price-controls label {
	display: inline-block;
	vertical-align: top;

	font-size: 14px;
	line-height: 21px;
	
	cursor: pointer;

	width: 90px;
	padding-left: 65px;
}

.price-controls input {
	width: 50px;
	min-height: 32px;
	margin: 0;

	color: inherit;
	font: inherit;
	line-height: 21px;

	background: none;
	border: none;
}

.price-for-day {
	margin: 0;
	margin-right: 72px;
	margin-left: auto;
	width: 315px;

	color: #ffffff;
	text-transform: uppercase;
}

.qty-wrapper {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.qty-wrapper input {
	width: 38px;
}

.qty-wrapper button {
	/*outline: none;*/
	color: #cacaca;
}

.qty-wrapper button:hover {
	color: #000000;
}

.qty-wrapper button:active {
	color: #81b3d2;
}

.reservation-button {
	display: block;
	width: 145px;
	text-align: center;
	margin-top: 15px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.search-result {
	font-size: 21px;
	line-height: 26px;
	font-weight: 600;
	text-transform: uppercase;
	padding-left: 72px;
	margin-top: 30px;
	margin-bottom: 30px;
}

.secondary-list {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
	margin: 0;
	padding-left: 0;
	list-style: none;
	background-color: #ffffff;
}

.secondary-list p {
	margin: 0;
	margin-top: 23px;
}

.secondary-list-item {
	-webkit-box-sizing: border-box;
			box-sizing: border-box;
	padding: 161px 55px 77px;
	width: 400px;
}

.secondary-list-item h4 {
	font-size: 21px;
	line-height: 21px;
	font-weight: 700;
	margin: 0;
}

.secondary-list li:first-child {
	background-image: url("../img/house-symbol.svg");
	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.secondary-list li:nth-child(2) {
	background-image: url("../img/burger-symbol.svg");
	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.secondary-list li:last-child {
	background-image: url("../img/gift-symbol.svg");
	background-repeat: no-repeat;
	background-position: 50% 60px;
}

.social-button {
	width: 46px;
	height: 48px;
	background-color: #81b3d2;

	display: -webkit-box;

	display: -ms-flexbox;

	display: flex;
	-webkit-box-align: center;
		-ms-flex-align: center;
			align-items: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
}

.social-button:hover {
	background-color: #669ec0;
}

.social-button:active svg {
	background-color: #5496bd;
	fill: #ffffff;
	fill-opacity: 0.3; 
}

.social-button svg {
	fill: #ffffff;
}

.sort-direction {
	margin-right: 72px;
	margin-left: auto;
	margin-top: 32px;
}

.sort-direction svg {
	fill: #cacaca;
}

.sort-direction svg:active {
	fill: #81b3d2;
}

.sort-direction svg:hover {
	fill: #000000;
}

.sort-current svg {
	fill: #81b3d2;
}

.sort-down svg {
	-webkit-transform: rotate(180deg);
		-ms-transform: rotate(180deg);
			transform: rotate(180deg);
}

.sorting-type {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	font-size: 12px;
	line-height: 18px;
	font-weight: 400;
}

.sorting-type li {
	margin-left: 33px;
	margin-top: 35px;
}

.sorting-type li:first-child {
	margin-left: 40px;
}

.sorting-type .current-sort-type a {
	color: #81b3d2;
	border: none;
}

.sorting-type a {
	color: rgba(0, 0, 0, 0.3);
	border-bottom: 1px dotted #81b3d2;
}

.sorting-type a:hover {
	color: #81b3d2;
	border-bottom: 1px dotted;
}

.sorting-type a:active {
	color: #000000;
	border: none;
}

.sort-up {
	margin-right: 10px;
}

.site-menu {
	list-style: none;
	margin: 0;
	padding-left: 0;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
		flex-wrap: wrap;
}

.site-menu a {
	color: #000000;
	line-height: 26px;
}

.site-menu .current-page a {
	color: #766357;
}

.site-menu a:hover,
.hotel-info a:hover {
	color: #81b3d2;
}

.site-menu a:active,
.hotel-info a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-menu li {
	width: 170px;
	padding-top: 15px;
	padding-bottom: 15px;
}

.site-menu li:nth-child(3) {
	margin: 0 0 0 auto;
}

.site-menu-left {
	text-align: left;
	padding-left: 71px;
}

.site-menu-right {
	text-align: right;
	padding-right: 73px;

}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}

@-webkit-keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
				transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
				transform: translateX(10px);
	}
}

@keyframes shake {
	0%,
	100% {
		-webkit-transform: translateX(0);
				transform: translateX(0);
	}
	10%,
	30%,
	50%,
	70%,
	90% {
		-webkit-transform: translateX(-10px);
				transform: translateX(-10px);
	}
	20%,
	40%,
	60%,
	80% {
		-webkit-transform: translateX(10px);
				transform: translateX(10px);
	}
}

@-webkit-keyframes showForm {
	0% {
		-webkit-transform: scaleY(0) translateY(-100%);
				transform: scaleY(0) translateY(-100%);
		}

	100% {
		-webkit-transform: scaleY(1) translateY(0);
				transform: scaleY(1) translateY(0);
		}
}

@keyframes showForm {
	0% {
		-webkit-transform: scaleY(0) translateY(-100%);
				transform: scaleY(0) translateY(-100%);
		}

	100% {
		-webkit-transform: scaleY(1) translateY(0);
				transform: scaleY(1) translateY(0);
		}
}