body {
	margin: 0 auto;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
	width: 1280px;
}

a {
	text-decoration: none;
}

.container {
	width: 1200px;
	margin: 0 auto;
	box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}

.features p {
	font-weight: 400;
	color: #333333;
}

.footer-copyright {
	width: 400px;
	text-align: center;
}

.footer-logo svg {
	fill: #231f20;
}

.footer-logo:hover svg {
	fill: #81b3d2;
}

.footer-logo:active svg {
	fill: #bdbbbc;
}

.footer-social {
	width: 400px;
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.hashtag {
	width: 400px;
	text-align: center;
}

.hashtag a {
	color: #000000;
	font-size: 21px;
}

.hotels-catalog ul {
	list-style: none;
	padding: 0;
	background-color: #ffffff;
	margin: 0;
}

.hotels-list li {
	display: flex;
	flex-direction: row;
	border-bottom: 1px solid #e5e5e5;
	padding: 30px 72px;
}

.hotels-list li:first-child {
	border-top: 1px solid rgba(0, 0, 0, 0.5);
}

.hotels-list-item p {
	margin: 0;
}

.hotels-list-item .hotel-info {
	margin-left: 30px;
}

.hotels-list-item .hotel-rank {
	margin: 0;
	margin-left: auto;
}

.hotel-info h3 {
	font-size: 21px;
	line-height: 26px;
	margin-top: 0;
}

.hotel-info a {
	color: #000000;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	line-height: 21px;
}

.hotel-type a {
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.hotel-type .about-button:hover {
	color: #ffffff;
}

.hotel-type .about-button:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496BD;
}

.hotels-top {
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}

.hotel-price a {
	width: 142px;
	height: 27px;
	background-color: #766357;
	color: #ffffff;
	font-weight: 700;
}

.hotel-price .reservation-button:active {
	background-color: #503e33;
	color: #847870;
}

.hotel-price .reservation-button:hover {
	background-color: #604e43;
	color: #ffffff;
}

.hotels-search {
	text-align: center;
}

.hotels-search-button {
	width: 458px;
	height: 58px;
	background-color: #81b3d2;
	margin-top: 55px;

	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
}

.hotels-search-button:hover {
	background-color: #669ec0;
}

.hotels-search-button:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496bd;
}

.hotels-search-form {
	width: 568px;
	height: 395px;
	margin: 0 auto;
	background-color: #ffffff;
	line-height: 26px;
	box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
}

.hotels-search-form input {
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
	width: 345px;
	height: 38px;
	margin-top: 30px;
}

.hotels-search-form input:first-child {
	margin-top: 55px;
}

.hotels-search-form input:hover {
	background-color: #ebebeb;
	color: #000000;
}

.hotels-search-form input:focus {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #e5e5e5;
}

.hotels-search-form label {
	padding-left: 55px;
}

.qty input {
	width: 38px;
}

.hotels-search-form-button {
	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	width: 568px;
  	height: 86px;
}

.introduce-text {
	font-size: 21px;
	line-height: 26px;
	width: 440px;
	margin: 0 auto;
	text-align: center;
}

.main-footer {
	background-color: #ffffff;
	opacity: 0.9;
	height: 120px;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
}

.main-menu {
	color: #000000;
	background-color: #ffffff;
	min-height: 56px;
	position: relative;
}

.main-menu-logo {
	position: absolute;
	left: 50%;
}

.main-picture {
	margin: 0;
	background-image: url("../img/main-photo.jpg");
	background-repeat: no-repeat;
	background-position: center;
	padding-top: 76px;
	min-height: 433px

}

.presearch-text {
	font-weight: 400;
	color: #333333;
}

.presearch-text-question {
	font-size: 30px;
}

.site-menu {
	list-style: none;
	width: 1200px;
	margin: 0;
	padding-left: 0;
	display: flex;
}

.site-menu a {
	color: #000000;
}

.site-menu .current-page a {
	color: #766357;
}

.site-menu a:hover,
.hotel-info a:hover {
	color: #81b3d2;
}

.site-menu a:active,
.hotel-info a:active {
	color: rgba(0, 0, 0, 0.3);
}

.site-menu li {
	width: 240px;
	padding-top: 22px;
	text-align: center;
}

.visually-hidden {
	position: absolute;
	clip: rect(1px, 1px, 1px, 1px);
	padding:0;
	border:0;
	height: 1px; 
	width: 1px; 
	overflow: hidden;
}