body {
	margin: 0;
	padding: 0;

	font-family: "PT Sans", "Arial", sans-serif;
	font-size: 14px;
	line-height: 24px;
	font-weight: 700;
	color: #000000;
	text-transform: uppercase;

	background-color: #f2f2f2;
}

a {
	text-decoration: none;
}

.five-features {
	font-weight: 400;
	color: #333333;
}

.footer-logo svg {
	fill: #231f20;
}

.footer-logo:hover svg {
	fill: #81b3d2;
}

.footer-logo:active svg {
	fill: #bdbbbc;
}

.footer-social {
	text-align: center;
}

.footer-social ul {
	list-style: none;
}

.hashtag a {
	color: #000000;
	font-size: 21px;
}

.hotels-page {
	background-color: #ffffff;
}

.hotel-info h3 {
	font-size: 21px;
	line-height: 26px;
}

.hotel-info a {
	color: #000000;
}

.hotel-type,
.hotel-price {
	font-size: 14px;
	font-weight: 400;
	color: #333333;
	line-height: 21px;
}

.hotel-type a {
	color: #ffffff;
	font-weight: 700;
	background-color: #81b3d2;
}

.hotel-type .about-button:hover {
	color: #ffffff;
}

.hotel-type .about-button:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496BD;
}

.hotels-top {
	line-height: 21px;
	font-weight: 400;
	color: #666666;
	background-color: #f2f2f2;
}

.hotel-price a {
	width: 142px;
	height: 27px;
	background-color: #766357;
	color: #ffffff;
	font-weight: 700;
}

.hotel-price .reservation-button:active {
	background-color: #503e33;
	color: #847870;
}

.hotel-price .reservation-button:hover {
	background-color: #604e43;
	color: #ffffff;
}

.hotels-search-button {
	width: 458px;
	height: 58px;
	background-color: #81b3d2;

	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;
}

.hotels-search-button:hover {
	background-color: #669ec0;
}

.hotels-search-button:active {
	color: #ffffff;
	opacity: 0.3;
	background-color: #5496bd;
}

.hotels-search-form {
	background-color: #ffffff;
	line-height: 26px;
}

.hotels-search-form input {
	font: inherit;
	color: #000000;
	text-transform: uppercase;
	background-color: #f2f2f2;
}

.hotels-search-form input:hover {
	background-color: #ebebeb;
	color: #000000;
}

.hotels-search-form input:focus {
	background-color: #ffffff;
	color: #000000;
	border: 2px solid #e5e5e5;
}

.hotels-search-form-button {
	font-family: inherit;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	color: #ffffff;
	text-transform: uppercase;

	background-color: #766357;
	width: 568px;
  	height: 86px;
}

.introduce-text {
	font-size: 21px;
	line-height: 26px;
}

.main-footer {
	background-color: #ffffff;
}

.main-menu {
	color: #000000;
	background-color: #ffffff;
}

.main-picture {
	background-image: url("../img/main-photo.jpg");
	background-repeat: no-repeat;
	background-position: center;
}

.presearch-text {
	font-weight: 400;
	color: #333333;
}

.presearch-text-question {
	font-size: 30px;
}

.site-menu {
	list-style: none;
}

.site-menu a {
	color: #000000;
}

.site-menu .current-page a {
	color: #766357;
}

.site-menu a:hover,
.hotel-info a:hover {
	color: #81b3d2;
}

.site-menu a:active,
.hotel-info a:active {
	color: rgba(0, 0, 0, 0.3);
}
